<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat</title>
    <!-- <link rel="stylesheet" href="../css/style.css"/> -->
</head>
<body>
    <h1>Name<%= cat.name %></h1>
    <p>Breed: <%= cat.breed %></p>
    <a href="/update/<%= cat.cat_id %>">Edit</a>
    <a href="/delete/<%= cat.cat_id %>">Delete</a>
    <a href="/">Back to List</a>
</body>
</html>