<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Customer</title>
    <!-- <link rel="stylesheet" href="../css/style.css"/> -->
</head>
<body>
    <h1>Create Customer</h1>
    <form method="post" action="/customers/create">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
        <br>
        <label for="firstName">Firstname:</label>
        <input type="text" id="firstName" name="firstName">
        <br>
        <label for="lastName">Lastname:</label>
        <input type="text" id="lastName" name="lastName">
        <br>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email">
        <br>
        <label for="phoneNumber">Phonenumber:</label>
        <input type="text" id="phoneNumber" name="phoneNumber">
        <br>
        <input type="submit" value="create">
    </form>
    <a href="/customers/">Back to List</a>
</body>
</html>