<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Cat</title>
    <!-- <link rel="stylesheet" href="../css/style.css"/> -->
</head>
<body>
    <h1>Add Cat</h1>
    <form method="post" action="/cats/create">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
        <br>
        <label for="breed">Breed:</label>
        <input type="text" id="breed" name="breed">
        <br>
        <label for="age">Age:</label>
        <input type="text" id="age" name="age">
        <br>
        <label for="color">Color:</label>
        <input type="text" id="color" name="color">
        <br>
        <label for="price">Price:</label>
        <input type="text" id="price" name="price">
        <br>
        <label for="availability">Availability:</label>
        <input type="text" id="availability" name="availability">
        <br>
        <input type="submit" value="ADD">
    </form>
    <a href="/cats/">Back to List</a>
</body>
</html>