<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Order Details</title>
    <!-- <link rel="stylesheet" href="../css/style.css"/> -->
</head>
<body>
    <h1>Create Order Details</h1>
    <form method="post" action="/create">
        <label for="quantity">Name:</label>
        <input type="text" id="quantity" name="quantity">
        <br>
        <label for="unitPrice">Breed:</label>
        <input type="text" id="unitPrice" name="unitPrice">
        <br>
        
        <input type="submit" value="create">
    </form>
    <a href="/">Back to List</a>
</body>
</html>