<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>orderDetail</title>
    <!-- <link rel="stylesheet" href="../css/style.css"/> -->
</head>
<body>
    <h1>Quanity<%= orderDetail.quantity %></h1>
    <p>unitPrice: <%= orderDetail.unitPrice %></p>
    <a href="/update/<%= orderDetail.detail_id %>">Edit</a>
    <a href="/delete/<%= orderDetail.detail_id %>">Delete</a>
    <a href="/">Back to List</a>
</body>
</html>